In [33]:
import pandas as pd
import os

In [34]:
directory = os.fsencode('pitchers/')

csv_files_to_merge = []
for file in os.listdir(directory):
    filename = os.fsdecode(file)
    if filename.startswith('pitchers'): 
        csv_files_to_merge.append('pitchers/' + filename)
        
df_list = []
for file in csv_files_to_merge:
    df_list.append(pd.read_csv(file))
    
df = pd.concat(df_list)

In [35]:
def convert_height_to_inches(feet_inches):
    feet, inches = feet_inches.split('-')
    total_inches = int(inches) + (int(feet) * 12)
    return total_inches

df['HEIGHT'] = df['HEIGHT'].map(convert_height_to_inches)
df['WEIGHT'] = df['WEIGHT'].str.replace('lb','')

df = df.apply(pd.to_numeric, errors='ignore')

In [36]:
df.to_csv('pitchers/all_pitching_years_1985_to_2017.csv')

In [37]:
df.shape

(15539, 42)

In [38]:
df.columns

Index(['Unnamed: 0', 'ID', 'NAME', 'THROWS', 'HEIGHT', 'WEIGHT', 'YEAR', 'AGE',
       'TM', 'LG', 'W', 'L', 'W-L%', 'ERA', 'G', 'GS', 'GF', 'CG', 'SHO', 'SV',
       'IP', 'H', 'R', 'ER', 'HR', 'BB', 'IBB', 'SO', 'HBP', 'BK', 'WP', 'BF',
       'ERA+', 'FIP', 'WHIP', 'H9', 'HR9', 'BB9', 'SO9', 'SO/W', 'AWARDS',
       'SALARY'],
      dtype='object')

In [39]:
cols = ['ID', 'NAME', 'THROWS', 'HEIGHT', 'WEIGHT', 'YEAR', 'AGE', 'TM', 'ERA', 'LG', 'H', 'R', 'ER', 'HR', 'BB', 'SO']
df.sort_values('ERA')[cols].head(20)
#df.drop(df.sort_values('ERA').tail(6).index,inplace=True)

,ID,NAME,THROWS,HEIGHT,WEIGHT,YEAR,AGE,TM,ERA,LG,H,R,ER,HR,BB,SO
159,jimend'01,D'Angelo Jiménez,Right,72,190,2002,24.0,SDP,0.0,NL,0.0,0.0,0.0,0.0,0.0,0.0
338,fossato01,Tony Fossas,Left,72,195,1998,40.0,TEX,0.0,AL,3.0,0.0,0.0,0.0,4.0,7.0
280,amarial01,Alexi Amarista,Right,66,160,2016,27.0,SDP,0.0,NL,0.0,0.0,0.0,0.0,0.0,0.0
279,amarial01,Alexi Amarista,Right,66,160,2015,26.0,SDP,0.0,NL,0.0,0.0,0.0,0.0,0.0,0.0
9,tackeje01,Jeff Tackett,Right,74,200,1993,27.0,BAL,0.0,AL,1.0,0.0,0.0,0.0,1.0,0.0
761,lynched01,Ed Lynch,Right,78,230,1986,30.0,NYM,0.0,NL,2.0,0.0,0.0,0.0,0.0,1.0
26,narvech01,Chris Narveson,Left,75,205,2013,31.0,MIL,0.0,NL,1.0,0.0,0.0,0.0,1.0,0.0
31,lakerti01,Tim Laker,Right,74,185,2004,34.0,CLE,0.0,AL,1.0,0.0,0.0,0.0,1.0,0.0
309,foppeje01,Jesse Foppert,Right,78,210,2004,23.0,SFG,0.0,NL,1.0,0.0,0.0,0.0,0.0,2.0
1110,montemi01,Miguel Montero,Right,71,210,2017,33.0,CHC,0.0,NL,0.0,0.0,0.0,0.0,2.0,0.0
30,lahtije01,Jeff Lahti,Right,72,180,1986,29.0,STL,0.0,NL,3.0,0.0,0.0,0.0,1.0,3.0
543,mccoymi01,Mike McCoy,Right,69,180,2011,30.0,TOR,0.0,AL,0.0,0.0,0.0,0.0,0.0,0.0
252,relafde01,Desi Relaford,Right,68,155,2001,27.0,NYM,0.0,NL,0.0,0.0,0.0,0.0,0.0,1.0
259,alvarjo02,José Álvarez,Left,71,190,2014,25.0,LAA,0.0,AL,1.0,0.0,0.0,0.0,0.0,1.0
1269,burtoja01,Jared Burton,Right,77,225,2010,29.0,CIN,0.0,NL,0.0,0.0,0.0,0.0,0.0,1.0
562,bielemi01,Mike Bielecki,Right,75,195,1991,31.0,ATL,0.0,NL,2.0,0.0,0.0,0.0,2.0,3.0
542,bethach01,Christian Bethancourt,Right,74,213,2016,24.0,SDP,0.0,NL,1.0,0.0,0.0,0.0,3.0,1.0
845,rominan01,Andrew Romine,Right,73,200,2016,30.0,DET,0.0,AL,0.0,0.0,0.0,0.0,2.0,0.0
797,hilldo01,Donnie Hill,Right,70,160,1990,29.0,CAL,0.0,AL,0.0,0.0,0.0,0.0,1.0,1.0
1502,myettaa01,Aaron Myette,Right,76,195,2000,22.0,CHW,0.0,AL,0.0,0.0,0.0,0.0,4.0,1.0

In [40]:
df['ERA'].describe()

count    1.553500e+04
mean              inf
std               NaN
min      0.000000e+00
25%      3.345000e+00
50%      4.250000e+00
75%      5.400000e+00
max               inf
Name: ERA, dtype: float64

In [41]:
cols = ['ID', 'NAME', 'THROWS', 'HEIGHT', 'WEIGHT', 'YEAR', 'AGE', 'TM', 'ERA', 'LG', 'H', 'R', 'ER', 'HR', 'BB', 'IP', 'SO']
baseball = pd.read_csv('pitchers/all_pitching_years_1985_to_2017.csv')
baseball[baseball.NAME.str.contains('Bumgarner')][cols].head(7)

,ID,NAME,THROWS,HEIGHT,WEIGHT,YEAR,AGE,TM,ERA,LG,H,R,ER,HR,BB,IP,SO
1755,bumgama01,Madison Bumgarner,Left,77,250,2011,21.0,SFG,3.21,NL,202.0,82.0,73.0,12.0,46.0,204.2,191.0
1756,bumgama01,Madison Bumgarner,Left,77,250,2012,22.0,SFG,3.37,NL,183.0,87.0,78.0,23.0,49.0,208.1,191.0
1757,bumgama01,Madison Bumgarner,Left,77,250,2013,23.0,SFG,2.77,NL,146.0,68.0,62.0,15.0,62.0,201.1,199.0
1758,bumgama01,Madison Bumgarner,Left,77,250,2014,24.0,SFG,2.98,NL,194.0,81.0,72.0,21.0,43.0,217.1,219.0
1759,bumgama01,Madison Bumgarner,Left,77,250,2015,25.0,SFG,2.93,NL,181.0,73.0,71.0,21.0,39.0,218.1,234.0
1760,bumgama01,Madison Bumgarner,Left,77,250,2016,26.0,SFG,2.74,NL,179.0,79.0,69.0,26.0,54.0,226.2,251.0
1761,bumgama01,Madison Bumgarner,Left,77,250,2017,27.0,SFG,3.32,NL,101.0,41.0,41.0,17.0,20.0,111.0,101.0